.Toastify__toast-body {
    width: 1000px; /* Set your desired width */
  }

.custom-error-toast {
    color: white;
    background-color: #d34949; /* Set your desired background color */
}

.custom-success-toast {
    color: white;
    background-color: #6bac6b; /* Set your desired background color */
}